<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Floss App</title>
</head>
<body id="homebody">
    <!-- <img src="https://i.postimg.cc/D00ymb57/cross-stitch-hoop.jpg" id="homeimg"/> -->
    <h1 id="h1home">Welcome to the <br> 
        Embroidery Floss App!</h1>
    <h3 id="phome">An app for organizing <br>
        your embroidery floss collection.</h3>
    <a href="/index" id="ahome">View Floss Cabinet</a>
    
</body>
</html>