<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Cabinet</title>
</head>
<body>
    <h1>Here is your Embroidery Floss Craft Cabinet:</h1>
    <ul>
        <% floss.forEach (floss => { %>
            <li><a href="/floss/<%=floss._id%>"><%= floss.flossColor %></a></li>
        <%})%>
    </ul>
    <a href="/floss/new">Add More Floss</a>
</body>
</html>