<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Floss</title>
</head>
<body id="newbody">
    <h1>Add Embroidery Floss to your floss cabinet!</h1>
    <form action="/floss" method="POST">
        <label>Floss Number:</label>
        <input name="flossNum" type="number"/>
        <label>Discriptive Color:</label>
        <input name="flossColor" type="text"/>
        <label>Number of Skiens:</label>
        <input name="numOfSkiens" type="number"/>
        <button type="submit">Add Floss</button>
    </form>
    <form action="/index">
        <button type="submit">Back to Floss Cabinet</button>
    </form>
    <form action="/">
        <button type="submit">Home</button>
    </form>
    <!-- <a href="/index">Back to Craft Cabinet</a>
    <a href="/">Home</a> -->
</body>
</html>