<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Floss</title>
</head>
<body>
    <h1>Add Embroidery Floss to your craft cabinet!</h1>
    <form action="/floss" method="POST">
        <label>Floss Number:</label>
        <input name="flossNum" type="number"/>
        <label>Discriptive Color:</label>
        <input name="flossColor" type="text"/>
        <label>Number of Skiens:</label>
        <input name="numOfSkiens" type="number"/>
        <button type="submit">Add Floss</button>
    </form>
    <a href="/index">Back to Craft Cabinet</a>
</body>
</html>